@mixin flex( $a, $b, $c, $d ){
	display			: flex;
	flex-flow		  : $a $b;
	justify-content	: $c;
	@if $b == 'nowrap' {
		align-items		: $d;	
	}@else{
		align-content	: $d;
	}	
}

@keyframes pulse {
	0%{
	  color: var(--negro);
	}
	50%{
	  color: var(--lila);
	}
	100%{
		color: var(--negro)
	}
}

@keyframes opaci {
	0%{
	  opacity: 0;
	}
	100%{
	  opacity: 1;
	}
}